@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

.container {
  width: 100%;
}

.navbar {
  padding: 1rem 3rem 0.4rem 3rem;
}

.navbar > span {
  color: #fff;
  text-align: center;
  font-family: "Bruno Ace";
  font-size: 30px;
  cursor: pointer;
}

.gradient_ {
  font-family: "Brockmann";
  font-size: 3.1rem;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(92deg, #f77676 -8.8%, #3135f7 52.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}

.lower {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: "Brockmann";
  font-size: 20px;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texts {
  display: flex;
  flex-direction: column;
  margin: 0rem 1.755rem 0rem 2.65rem;
}

.star {
  width: 2.3rem;
  height: 2.3rem;
}

.bg__grad {
  width: 80vw;
  height: 25vh;
  border-radius: 1439px;
  opacity: 1;
  background: rgba(247, 118, 118, 0.39);
  filter: blur(350px);
  position: absolute;
}

.all__contests {
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: scroll;
  margin-top: 2.5rem;
  width: 100%;
  align-items: center;
  /* z-index: 2; */
}

.all__contests::-webkit-scrollbar {
  display: none;
}

.current__contest {
  width: 95%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px #fff;
  /* opacity: 0.06; */
  background: #14142c;
  /* height: 13rem; */
  flex: 0 0 auto;
  margin-bottom: 2.5rem;
  padding-bottom: 0.8rem;
}

.c__header {
  display: flex;
  flex-direction: column;
}

.main__header {
  display: flex;
  padding: 0.9rem 1.5rem 0.7rem 1.5rem;
  width: 96%;
  justify-content: space-between;
  border-bottom: 1px solid #c0b7e8;
  margin: auto;
}

.first > span {
  color: #c0b7e8;
  font-family: "Gilmer Light";
  font-size: 20px;
  margin-right: 0.7rem;
}

.rewards {
  color: #c0b7e8;
  font-family: "Gilmer Light";
  font-size: 20px;
  margin-right: 0.7rem;
}

.participant__data {
  width: 96%;
  padding: 1.3rem 1.5rem 0.7rem 1.5rem;
}

.participant__data > span {
  color: #c0b7e8;
  font-family: "Gilmer Light";
  font-size: 20px;
  font-weight: 600;
  margin-right: 0.7rem;
}

.guidelines {
  display: flex;
  padding: 1.3rem 1.5rem 0.7rem 1.5rem;
  justify-content: space-between;
}

.main__guide {
  color: #c0b7e8;
  font-family: "Gilmer Light";
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
}

.main__guide > span {
  margin-right: 0.5rem;
}

.register__now {
  border-radius: 18px;
  background: #c0b7e8;
  color: #01021b;
  font-family: "Gilmer Light";
  font-size: 20px;
  font-weight: 600;
  padding: 0.6rem 0.8rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.all__guidelines {
  color: #c0b7e8;
  font-family: "Gilmer Light";
  font-size: 17px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 1.3rem 1.5rem 0.7rem 1.5rem;
}