@font-face {
  font-family: 'Brockmann';
  src: url('https://idesign-quotation.s3.ap-south-1.amazonaws.com/NO_COMPANYNAME/Brockmann.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brockmann Light';
  src: url('https://idesign-quotation.s3.ap-south-1.amazonaws.com/NO_COMPANYNAME/BrokmanTrial-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer Light';
  src: url('https://idesign-quotation.s3.ap-south-1.amazonaws.com/NO_COMPANYNAME/Gilmer-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #01021b !important;
}